{{!-- Footer: Section --}}
<footer class="mainFooter {{modifier}}" role="footer">
    <div class="container">
        <div class="row mainFooter-linkRow">
            <ul class="linkColumn col-sm-12 col-md-2">
                <li class="linkColumn-title">
                    Product
                </li>

                <li>
                    <a class="linkColumn-link" href="">
                        Website Audit
                    </a>
                </li>
                <li>
                    <a class="linkColumn-link" href="">
                        Managed Services
                    </a>
                </li>
                <li>
                    <a class="linkColumn-link" href="">
                        Plans &amp; Picing
                    </a>
                </li>
                <li>
                    <a class="linkColumn-link" href="">
                        Technology
                    </a>
                </li>
                <li>
                    <a class="linkColumn-link" href="">
                        Opt Out
                    </a>
                </li>
                <li>
                    <a class="linkColumn-link" href="">
                        Roadmap
                    </a>
                </li>
            </ul>

            <ul class="linkColumn col-sm-12 col-md-2">
                <li class="linkColumn-title">
                    Solutions
                </li>

                <li>
                    <a class="linkColumn-link" href="">
                        A/B Testing
                    </a>
                </li>
                <li>
                    <a class="linkColumn-link" href="">
                        Smart Surveys
                    </a>
                </li>
                <li>
                    <a class="linkColumn-link" href="">
                        On-page Popups
                    </a>
                </li>
                <li>
                    <a class="linkColumn-link" href="">
                        Segmentation
                    </a>
                </li>
            </ul>

            <ul class="linkColumn col-sm-12 col-md-2">
                <li class="linkColumn-title">
                    Company
                </li>

                <li>
                    <a class="linkColumn-link" href="">
                        About Us
                    </a>
                </li>
                <li>
                    <a class="linkColumn-link" href="">
                        Customers
                    </a>
                </li>
                <li>
                    <a class="linkColumn-link" href="">
                        Careers
                    </a>
                </li>
                <li>
                    <a class="linkColumn-link" href="">
                        Terms of service
                    </a>
                </li>
                <li>
                    <a class="linkColumn-link" href="">
                        Privacy policy
                    </a>
                </li>
                <li>
                    <a class="linkColumn-link" href="">
                        Contact us
                    </a>
                </li>
            </ul>

            <ul class="linkColumn col-sm-12 col-md-2">
                <li class="linkColumn-title">
                    Resources
                </li>

                <li>
                    <a class="linkColumn-link" href="">
                        Support
                    </a>
                </li>
                <li>
                    <a class="linkColumn-link" href="">
                        Case studies
                    </a>
                </li>
                <li>
                    <a class="linkColumn-link" href="">
                        Webinars
                    </a>
                </li>
                <li>
                    <a class="linkColumn-link" href="">
                        Ebooks
                    </a>
                </li>
                <li>
                    <a class="linkColumn-link" href="">
                        Blog
                    </a>
                </li>
                <li>
                    <a class="linkColumn-link" href="">
                        API &amp; Developers
                    </a>
                </li>
            </ul>

            <ul class="linkColumn col-sm-12 col-md-3">
                <li class="linkColumn-title">
                    Follow us
                </li>

                <li class="d-inline-block">
                    {{> components/general/socialLinks 
                        socialIconRoute= ""
                        socialIconClass= "fb"
                        socialIconPath= "images/social/facebook.svg"
                        socialIconName= "facebook"
                    }}
                </li>
                <li class="d-inline-block">
                    {{> components/general/socialLinks 
                        socialIconRoute= ""
                        socialIconClass= "gb"
                        socialIconPath= "images/social/google-plus.svg"
                        socialIconName= "google+"
                    }}
                </li>
                <li class="d-inline-block">
                    {{> components/general/socialLinks 
                        socialIconRoute= ""
                        socialIconClass= "tw"
                        socialIconPath= "images/social/twitter.svg"
                        socialIconName= "twitter"
                    }}
                </li>
                <li class="d-inline-block">
                    {{> components/general/socialLinks 
                        socialIconRoute= ""
                        socialIconClass= "li"
                        socialIconPath= "images/social/linkedin.svg"
                        socialIconName= "linkedin"
                    }}
                </li>
            </ul>
        </div>

        <div class="row">
            <p class="copywright textCenter">
                © 2012-<span class="js-setYear"></span> Omniconvert. All rights reserved.
            </p>
        </div>
    </div>
</footer>
