//// Variables go here


// Colors
$titleColor: #24273C;
$subtitleColor: #5F7088;
$commonBlue: #18A5FF;
$commonGreen: #2FE583;
$textColor: #5F7088;

// Footer
$footerHeight: 100px;


// Social Links
$socialIconSize: 30px;
$socialIconGutter: 3px;


$lightgrey: #f2f0ed;
$midgrey: #535f67;
$darkgrey: #382f2d;
$white: #fff;
$black: #000;
$default-spacing: 25px;
$screen-xs: 768px;

$button-size: 20px;
$squish-speed: 300ms;
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);